form {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: whitesmoke;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin-bottom: auto;
}

input[type="text"],
select,
textarea {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="number"],
select,
textarea {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}