body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('https://img.freepik.com/foto-gratis/lisa-pared-estuco-blanco_1194-6983.jpg'); /* Reemplaza con la URL de tu imagen */
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
    position: relative;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    top: 50px;
}
h1 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"], select {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.checkbox-group {
    margin-bottom: 20px;
}
.checkbox-group label {
    display: block;
}
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
/* Estilo para la cabecera del formulario */
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header img {
    max-width: 100px;
    height: auto;
}